/* Global styles
------------------------------------*/
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}


body{
    color: #343434;
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 30px;
}

h1 ,h2 {
    padding: 0;
    margin: 0;
}


img{
    width: 300px;
}

a:hover{
    text-decoration: none;
}

.content-wrap {
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}

.clg {
    line-height: 0.5;
}

.divider > section{
    border-bottom: 1px dashed #343434;
    padding: 10px 0;
}
.divider > section:last-of-type{
    border-bottom: none;
}
/* profile
------------------------------------*/
header{
    background-color: #2F3061;
    color: #F7FFF7;
    text-align: center;
}



/* project
------------------------------------*/
.project{
    background-color: #FFE66D;
}

.project .btn{
    color: #F7FFF7;
    background-color: #2F3061;
    text-decoration: none;
    padding: 2px;
    border-radius: 1px;
    display: inline-block;
}

.project a:hover{
    background : rgba(47, 48, 97, 80%);
}
.project-item {
    overflow: hidden;
}
.project-item img {
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
}
.project-item h3{
    margin-top: 0px;;
}

/* skills
------------------------------------*/
.skills{
    background-color: antiquewhite;
    text-align: center;
    margin:0;
}
.ul-sk {
    margin: 0;
}
.sk {
    color: white;
    list-style-type: none;
    display: flex;
    text-align: center;
    background-color: #2F3061;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
}



/* education
------------------------------------*/
.education{
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: top right;

}

/* contacts
------------------------------------*/
footer{
    background-color: #2b85b6;
    color: #F7FFF7;
    text-align: center;
}

.contact-list{
    list-style-type: none;
    padding:0;
    display: flex;
    justify-content: center;
}

.contact-list a{
    padding: 12px;
    display: inline-block;
}
