/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/


/* Global styles
------------------------------------*/
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}


body{
    color: #343434;
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}
h1{
    font-size: 70px;
}
h2{
    font-size: 30px;
}

h1 ,h2 {
    padding: 0;
    margin: 0;
}


img{
    width: 300px;
}
/* a{
    color: #FFE66D;
} */
a:hover{
    text-decoration: none;
}

.content-wrap {
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}

.clg {
    line-height: 0.5;
}

/* profile
------------------------------------*/
header{
    background-color: #2F3061;
    color: #F7FFF7;
}



/* project
------------------------------------*/
.project{
    background-color: #FFE66D;
}

.project .btn{
    color: #F7FFF7;
    background-color: #2F3061;
    text-decoration: none;
    padding: 2px;
    border-radius: 1px;
    display: inline-block;
}

.project a:hover{
    background : rgba(47, 48, 97, 80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 1px dashed #343434;
}
.project-item img {
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
}
.project-item h3{
    margin-top: 0px;;
}




/* education
------------------------------------*/
.education{
    background-color: #a1c6d7;
}






/* contacts
------------------------------------*/
footer{
    background-color: #2b85b6;
    color: #F7FFF7;
}
footer a{
    color: #081408;
    background-color: #bead4d;
    text-decoration: none;
    border-radius: 4px;
    display: inline-flexbox;
    margin: 10px;
    padding: 2px;
    
}
